baseDir = C:\tools\Chromium
unzip = C:\tools\Chromium\unzip.exe
revUrl = http://commondatastorage.googleapis.com/chromium-browser-continuous/Win/LAST_CHANGE, System.Uri
zipUrlTemplate = http://commondatastorage.googleapis.com/chromium-browser-continuous/Win/{revision}/chrome-win32.zip
exeName = chrome
sleepSec = 10, System.Int32
suspendFileName = suspended
backupCycle = 5, System.Int32
# proxyHost = localhost
# proxyPort = 8080, System.Int32
